body{
	background-image: url("Fotos/fundo_site_winners_vencedor.png");
	margin: 0; 
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Quicksand", sans-serif;
}

h1{
	color: #f00;
}


#conteudo{
	flex-grow: 1;
	height: 100%;
	background-repeat: no-repeat;
	background-image:url("Fotos/home_winners_vencedor.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}
#conteudo img{
	object-fit:cover;
	position: relative;
	z-index: -1;
	width: 100%;
}

.duas_colunas{
	flex-grow: 1;
	display: flex;
}
.esquerda, .direita{
	box-sizing: border-box;
	text-align: justify;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.esquerda{
}
.direita{
}
.direita .texto{
	width: 80%;
	margin: auto;
}


.texto_branco{
	color: white;
	font-size: 30px;
}

.direitos_reservados{
	margin: auto;
	color: white;
	font-size: 20px;
	
}

@media only screen and (max-width: 1100px){
	.duas_colunas{flex-direction:column;}
}